[Desktop Entry]
Name=Exmh
Comment=MH Mail Front End
Comment[de]=EXMH-Mail-Programm
Comment[fr]=Programme de courrier EXMH
Comment[pl]=Nakładka pocztowa MH
Comment[sv]=E-postläsare som kan hantera e-postmappar av mh-typ
Comment[ru]=Почтовая программа EXMH
Comment[tr]=E-posta yazılımı
Exec=exmh
Terminal=0
Type=Application
Encoding=UTF-8
# vi: encoding=utf-8
